<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="SQLiteNorthwind" connectionString="metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=northwind.db&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>